<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chenxiaoyu.bbcoin"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
      
        android:name="com.chenxiaoyu.bbcoin.BBCoinApp">
        <activity
            android:name="com.chenxiaoyu.bbcoin.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.StyledActionBar"
            >
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.chenxiaoyu.bbcoin.CoinListDetailActivity"
            android:theme="@style/Theme.StyledActionBar"
            android:launchMode="singleTop"
            >
             
        </activity>
        <activity 
            android:name="com.chenxiaoyu.bbcoin.KChartActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.StyledActionBar"
            ></activity>
        <activity 
            android:name="com.chenxiaoyu.bbcoin.AlarmSetActivity"
            android:theme="@style/Theme.StyledActionBar"></activity>
        <activity 
            android:name="com.chenxiaoyu.bbcoin.CoinTableActivity"
            
            android:launchMode="singleTop">
            
        </activity>
		<activity android:name="com.chenxiaoyu.bbcoin.SettingActivity"
		    ></activity>
        <service android:name="com.chenxiaoyu.bbcoin.service.BBCoinService" android:process=":remote"/> 
        <receiver 
            android:name="com.chenxiaoyu.bbcoin.service.AlarmReceiver"
            ></receiver>
        
        
        <!-- umeng -->
        
        <meta-data android:value="52ca98b456240bc1c6258ed5" android:name="UMENG_APPKEY"></meta-data>
		<meta-data android:value="Defautl" android:name="UMENG_CHANNEL"/>
		<service
		    android:name="com.umeng.common.net.DownloadingService"
		    android:process=":DownloadingService" >
		</service>
		<activity 
		    android:name="com.umeng.update.UpdateDialogActivity"
		    android:theme="@android:style/Theme.Translucent.NoTitleBar" >
		</activity>
    </application>
	
</manifest>
